body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  .Addbookform {
    background-color: white;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(134, 53, 87, 0.403);
    width: 400px;
  }
  
  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 8px;
    font-size: 18px;
    color: #77306386;
  }
  
  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  
  textarea {
    resize: none;
    height: 100px;
  }
  
  input:focus, textarea:focus {
    outline: none;
    border-color: #007BFF;
  }